.login_body {
  height: 100vh;
  background-image: url(./login-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 2vw;
}


.login_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  margin-bottom: 10vh;
  width: 45vw;
  background: #fff;
}

.login_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 4vh;
}

.login_text {
  color: #3c009d;
  font-size: 5vh;
  font-weight: 700;
}

.underline {
  width: 8vw;
  height: 6px;
  background: #3c009d;
  border-radius: 9px;
}

.login_inputs {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  gap: 4vh;
}

.login_inputs .input {
  display: flex;
  align-items: center;
  margin: auto;
  width: 30vw;
  height: 8vh;
  background: #eaeaea;
  border-radius: 6px;
}

.input img {
  margin: 0px 30px;
}

.input input {
  height: 50px;
  width: 400px;
  background: transparent;
  border: none;
  outline: none;
  color: #797979;
  font-size: 14px;
}

.login_error {
  color: red;
  font-size: 14px;
  margin-top: 10px;
}

.forgot_password {
  margin: 27px auto;
  color: #797979;
  font-size: 18px;
}

.click_here {
  color: blue;
  cursor: pointer;
}

.submit_container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 60px;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 59px;
  color: #fff;
  background: #4c00b4;
  border-radius: 50px;
  font-size: 19px;
  font-weight: 700;
  cursor: pointer;
}

.gray {
  background: #eaeaea;
  color: #676767;
}
